= form_for @project_update do |f|
	- if @project_update.errors.any?
		#error_explanation
			%h2= "#{pluralize(@project_update.errors.count, "error")} prohibited this project_update from being saved:"
			%ul
				- @project_update.errors.full_messages.each do |msg|
					%li= msg
	.row
		.column.medium-6
			.field
				= f.label :user_id, 'Usuario'
				= f.text_field :user_id
		.column.medium-6
			.field
				= f.label :email_status, 'Estatus de correspondencia'
				- status = @project_update.email_status
				- value = status.nil? ? 'habilitado' : status
				= f.select :email_status, Admin::ProjectUpdate::EMAIL_STATUS_OPT, selected: value
		.column.medium-12
			.field
				= f.label :metadata, 'Metadatos'
				= f.text_area :metadata, rows: 12, class: 'code'
		.column.medium-12
			.actions
				= f.submit 'Guardar', class: 'button'
