= render layout: './admin/admin_base' do
	%h2.title Editar usuario que recibe actualizaciones

	= render 'form'

	= link_to 'Mostrar', @project_update
	\|
	= link_to 'Listado', admin_project_updates_path
