= render layout: './admin/admin_base' do
	%h2.title Listado de usuarios que reciben actualizaciones

	%table
		%thead
			%tr
				%th Id
				%th User
				%th Email status
				%th
				%th
				%th
		%tbody
			- @project_updates.each do |pu|
				%tr
					%td= pu.id
					%td= link_to pu.user.email, admin_user_path(pu.user)
					%td= pu.email_status
					%td= link_to 'Mostrar', pu
					%td= link_to 'Editar', edit_admin_project_update_path(pu)
					%td= link_to 'Eliminar', pu, :method => :delete, :data => { :confirm => '¿Estas seguro?' }

	%br

	= link_to 'Agregar a usuario', new_admin_project_update_path
