= render layout: './admin/admin_base' do
	%h2.title Usuario que recibe actualizaciones
	- pu = @project_update

	%p
		%b Id:
		= pu.id
	%p
		%b Usuario:
		= link_to pu.user.email, admin_user_path(pu.user)
	%p
		%b Estatus del correo:
		= pu.email_status
	%p
		%b Metadatos:
		%br/
		%code= pu.metadata

	= link_to 'Editar', edit_admin_project_update_path(@project_update)
	\|
	= link_to 'Listado', admin_project_updates_path
