= form_for @business_branch do |f|
	.row
		.column.medium-12
			- if @business_branch.errors.any?
				#error_explanation
					%h2= "#{pluralize(@business_branch.errors.count, "error")} prohibited this business_branch from being saved:"
					%ul
						- @business_branch.errors.full_messages.each do |msg|
							%li= msg
	.row
		.column.medium-8
			.field
				= f.label :business_id, 'Negocio'
				- if @referring_business
					%strong{style: "color:green"}= @referring_business.name
					= f.text_field :business_id, value: @referring_business.id, style: "display:none"
				- else
					= f.text_field :business_id
		.column.medium-4
			.field
				= f.label :type_of_branch, 'Tipo de Sucursal'
				= f.select :type_of_branch, Admin::BusinessBranch::TYPE_OF_BRANCH_OPT, include_blank: true
		.column.medium-8
			.field
				= f.label :street_name, 'Calle'
				= f.text_field :street_name
		.column.medium-2
			.field
				= f.label :street_no, 'No. Exterior'
				= f.text_field :street_no
		.column.medium-2
			.field
				= f.label :inner_no, 'No. Interior'
				= f.text_field :inner_no
		.column.medium-8
			.field
				= f.label :street_context, 'Referencia'
				= f.text_field :street_context
		.column.medium-4
			.field
				= f.label :borough, 'Colonia'
				= f.text_field :borough
		.column.medium-6
			.field
				= f.label :city, 'Ciudad'
				= f.text_field :city
		.column.medium-2
			.field
				= f.label :zip, 'Código Postal'
				= f.number_field :zip
		.column.medium-4
			.field
				= f.label :state_id, 'Estado'
				= f.select :state_id, @states_opt, include_blank: true
		.column.medium-6
			.field
				= f.label :contact, 'Info de Contacto'
				= f.text_area :contact, rows: 6
		.column.medium-6				
			.field
				= f.label :latitude, 'Latitud'
				= f.text_field :latitude
			.field
				= f.label :longitude, 'Longitud'
				= f.text_field :longitude
		.column.medium-12				
			.actions
				= f.submit 'Guardar', class: 'button'
