= render layout: './admin/admin_base' do
	%h2.title Editar Sucursal

	= render 'form'

	= link_to 'Mostrar', admin_business_branch_path(@business_branch.id)
	\|
	= link_to 'Listado', admin_business_branches_path
