= render layout: './admin/admin_base' do
	%h2.title Listado de Sucursales

	%table
		%thead
			%tr
				%th Id
				%th Negocio
				%th Calle
				%th Colonia
				%th Ciudad
				%th Estado
				%th
				%th
				%th

		%tbody
			- @business_branches.each do |business_branch|
				%tr
					- bb = business_branch
					%td= bb.id
					%td= link_to bb.business.name, admin_business_path(bb.business.id)
					%td= "#{bb.street_name} #{bb.street_no} #{' int ' + bb.inner_no if bb.inner_no}"
					%td= bb.borough
					%td= bb.city
					%td= link_to bb.state.name, admin_state_path(bb.state.id)
					%td= link_to 'Mostrar', admin_business_branch_path(bb)
					%td= link_to 'Editar', edit_admin_business_branch_path(bb)
					%td= link_to 'Eliminar', admin_business_branch_path(bb), :method => :delete, :data => { :confirm => '¿Estás seguro?' }

	%br

	= link_to 'Nueva Sucursal', new_admin_business_branch_path
