= render layout: './admin/admin_base' do
	%h2.title Sucursal

	%p
		%b Id:
		= @business_branch.id
	%p
		%b Negocio:
		= link_to @business_branch.business.name, admin_business_path(@business_branch.business.id)
	%p
		%b Tipo de Sucursal:
		= @business_branch.type_of_branch
	%p
		%b Calle:
		= @business_branch.street_name
	%p
		%b Número Exterior:
		= @business_branch.street_no
	%p
		%b Número Interior:
		= @business_branch.inner_no
	%p
		%b Referencia:
		= @business_branch.street_context
	%p
		%b Colonia:
		= @business_branch.borough
	%p
		%b Ciudad:
		= @business_branch.city
	%p
		%b Código Postal:
		= @business_branch.zip
	%p
		%b Estado:
		= link_to @business_branch.state.name, admin_state_path(@business_branch.state.id)
	%p
		%b Contacto:
		%ul
			- wrap_lines_with_tag(@business_branch.contact, :li)
	%p
		%b Latitude:
		= @business_branch.latitude
	%p
		%b Longitude:
		= @business_branch.longitude

	= link_to 'Editar', edit_admin_business_branch_path(@business_branch)
	\|
	= link_to 'Listado', admin_business_branches_path
