= form_for @survey do |f|
	.row
		.column.medium-12
			- if @survey.errors.any?
				#error_explanation
					%h2= "#{pluralize(@survey.errors.count, "error")} prohibited this survey from being saved:"
					%ul
						- @survey.errors.full_messages.each do |msg|
							%li= msg
	.row
		.column.medium-5
			.field
				= f.label :purpose, 'Propósito'
				= f.text_field :purpose
		.column.medium-3		
			.field
				= f.label :audience, 'Audiencia'
				= f.select :audience, 
					Admin::Survey::AUDIENCE_OPT.each { |opt| [opt] }, 
					include_blank: true
		.column.medium-4			
			.field
				= f.label :template_name, 'Plantilla (partial)'
				= f.text_field :template_name
		.column.medium-12	
			%br/
			.actions
				= f.submit 'Guardar', class: 'button'
