= render layout: './admin/admin_base' do
	%h2.title Listado de Encuestas

	%table
		%thead
			%tr
				%th Id
				%th Propósito
				%th Audiencia
				%th Plantilla (partial)
				%th
				%th
				%th

		%tbody
			- @surveys.each do |survey|
				%tr
					%td= survey.id
					%td= survey.purpose
					%td= survey.audience
					%td= survey.template_name
					%td= link_to 'Mostrar', admin_survey_path(survey)
					%td= link_to 'Editar', edit_admin_survey_path(survey)
					%td= link_to 'Eliminar', admin_survey_path(survey), :method => :delete, 
						:data => { :confirm => '¿Está seguro?' }

	%br

	= link_to 'Nueva Encuesta', new_admin_survey_path
