= render layout: './admin/admin_base' do
	%h2.title Encuesta

	%p
		%b Id:
		= @survey.id
	%p
		%b Propósito:
		= @survey.purpose
	%p
		%b Audiencia:
		= @survey.audience
	%p
		%b Plantilla (partial):
		= @survey.template_name

	= link_to 'Editar', edit_admin_survey_path(@survey)
	\|
	= link_to 'Listado', admin_surveys_path
