= form_for @business do |f|
	- if @business.errors.any?
		#error_explanation
			%h2= "#{pluralize(@business.errors.count, "error")} prohibited this business from being saved:"
			%ul
				- @business.errors.full_messages.each do |msg|
					%li= msg

	.field
		= f.label :name, 'Nombre'
		= f.text_field :name
	.field
		= f.label :line_of_business, 'Giro'
		= f.text_field :line_of_business
	.field
		= f.label :url, 'URL'
		= f.text_field :url
	.field
		= f.label :description, 'Descripción'
		= f.text_area :description, rows: 10
	.actions
		= f.submit 'Guardar', class: 'button'
