= render layout: './admin/admin_base' do
	%h2.title Listado de Negocios

	%table
		%thead
			%tr
				%th Id
				%th Nombre
				%th Giro
				%th Descripción
				%th
				%th
				%th

		%tbody
			- @businesses.each do |business|
				%tr
					%td= business.id
					%td= business.name
					%td= business.line_of_business
					%td= business.description
					%td= link_to 'Mostrar', admin_business_path(business)
					%td= link_to 'Editar', edit_admin_business_path(business)
					%td= link_to 'Eliminar', admin_business_path(business), :method => :delete, :data => { :confirm => '¿Estás seguro?' }

	%br

	= link_to 'Nuevo Negocio', new_admin_business_path
