= render layout: './admin/admin_base' do
	%h2.title Negocio

	= link_to 'Editar', edit_admin_business_path(@business)
	\|
	= link_to 'Listado', admin_businesses_path

	%br/
	%br/

	#business-info
		%p 
			%b Id:
			= @business.id
		%b Logo:
		- if @image_paths.any?
			%ul.print-files
				- print_logos_from_paths(@image_paths, 'li', @business)
		- else
			/= form_tag("#{admin_business_path(@business.id)}/upload_logo", multipart: true) do
			= form_tag({action: :upload_logo, id: @business.id}, multipart: true) do
				= file_field_tag 'logo'
				= submit_tag 'Subir Logo', class: 'button'
		%p 
			%b Nombre:
			= @business.name
		%p 
			%b Giro:
			= @business.line_of_business
		%p 
			%b URL:
			= link_to @business.url, @business.url, target: '_blank'
		%p 
			%b Descripción:
			%br/
			= @business.description

	%h4 Sucursales

	%table
		%thead
			%th Id	
			%th Domicilio	
			%th Colonia
			%th Ciudad	
			%th Estado
			%th{colspan: 3}

		%tbody
		- @branches.each do |branch|
			%tr
				%td= branch.id
				%td= concatenate_address_from_branch(branch)
				%td= branch.borough
				%td= branch.city
				%td= branch.state.name
				%td= link_to 'Mostrar', admin_business_branch_path(branch, @referrer_opt)
				%td= link_to 'Editar', edit_admin_business_branch_path(branch, @referrer_opt)
				%td= link_to 'Eliminar', admin_business_branch_path(branch, @referrer_opt), method: :delete, :data => { :confirm => '¿Estás seguro?' }

	= link_to 'Agregar Nueva Sucursal', new_admin_business_branch_path(@referrer_opt)
