.row
	- static_logo_section(:h2, 'Quienes somos')
	.column.medium-12
		%p= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt incidunt praesentium ad accusamus, id, ipsum inventore dolorem, quod recusandae vitae modi possimus totam quae explicabo non fugiat quasi, hic provident.%div Perspiciatis similique officiis consequuntur saepe vitae facere veritatis cumque qui blanditiis obcaecati quae officia, explicabo nesciunt, dolore quod? Nemo quaerat nesciunt quis fugit distinctio error, vero odio, sed quas amet!%div Ut libero eveniet laborum, tempora incidunt non doloribus voluptate ipsum quidem. Corrupti temporibus, dolor molestias quam adipisci minus, reiciendis soluta, neque repudiandae architecto assumenda quod, saepe. Culpa eveniet repellat voluptate.'

		%p= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dignissimos cumque saepe, dolorem itaque consequatur consectetur eos doloremque perferendis, aliquam aspernatur voluptatum sed ex nam deserunt necessitatibus adipisci laudantium molestiae.%div Tenetur maiores, eius error modi hic, ab odit vel adipisci dolor quam ex molestiae a totam debitis repellat, esse quae asperiores velit accusamus? Deleniti earum distinctio qui, odio sequi quia.%div Totam quia architecto ad quibusdam expedita, impedit maxime voluptatibus odit id eum quo ea facilis, consequatur optio mollitia. Sit dignissimos fuga nemo nobis enim dolore maxime magnam culpa, eaque laudantium.'
