.row
	- static_logo_section(:h2, 'Preguntas Frecuentes')
	.column.medium-12
		%ul
			%li
				%h5 ¿Cómo puedo pagar el cupón?
				%p La transacción de pago se realizará en el establecimiento donde canjées la promoción.
