#static-page
	.row
		- static_logo_section(:h2, "Instrucciones")
		.column.medium-12
			%ol#instructions
				%li Ve a la promoción de tu interés e ingresa tu correo para ganártela.
				%li El sistema generará un cupón personalizado.
				%li ¡Listo! Muestra el cupón en el establecimiento.
			%br/

			%h4 Como presentar el cupón
			%p Tienes tres maneras de hacerlo.
			%ul#coupon-present-options
				%li
					%a{id: "escritorio"}
					= 'Toma una foto con tu celular del área punteada, sin flash y bien enfocada. Sigue este ejemplo:'
					= image_tag 'akard/cupon-escritorio.jpg'
				%li
					%a{id: "celular"}
					= 'Si navegas desde tu celular, toma una captura del área punteada y guárdala. Sigue este ejemplo:'
				%li
					%a{id: "impreso"}
					= 'Imprime la página que muestra el cupón. Con imprimir la primer página es suficiente.'
