#contact-page
	.row
		- generic_logo_section(:h2, 'Forma de contacto')
		.column.medium-offset-2.medium-8.large-offset-3.large-6
			#contact-form
				- if @message_sent
					.message-sent
						%h4.text-center Su correo se envió con éxito.
				- else
					= form_for :message do |f|
						- form_field(f, :text_field, :name, @message.errors, 
							{label_text: 'Nombre'})
						- form_field(f, :text_field, :email, @message.errors, 
							{label_text: 'Correo'})
						- form_field(f, :text_field, :subject, @message.errors, 
							{label_text: 'Asunto'})
						- form_field(f, :text_area, :body, @message.errors, 
							{label_text: 'Mensaje', field: {rows: 10}})

						= f.submit 'Enviar', class: 'button'
		.column.medium-2.large-3.end
