= form_for @agent do |f|
	- if @agent.errors.any?
		#error_explanation
			%h2= "#{pluralize(@agent.errors.count, "error")} prohibited this user from being saved:"
			%ul
				- @agent.errors.full_messages.each do |msg|
					%li= msg

	.field
		= f.label :first_name, 'Nombre'
		= f.text_field :first_name
	.field
		= f.label :last_name, 'Apellido'
		= f.text_field :last_name
	.field
		= f.label :email, 'Correo'
		= f.text_field :email
	.field
		= f.label :approved, 'Aprobado'
		= f.text_field :approved
	.actions
		= f.submit 'Guardar', class: 'button'
