= render layout: './admin/admin_base' do
	.row
		.column.large-12
			%h2.title Listado de Agentes

			%table
				%thead
					%tr
						%th 
						%th Nombre:
						%th Apellido:
						%th Correo:
						%th Aprobado?
						%th 
						%th 
						%th 

				%tbody
					- index = 0
					- @agents.each do |agent|
						%tr
							%td= index += 1
							%td= agent.first_name
							%td= agent.last_name
							%td= agent.email
							%td= agent.approved.to_s.titlecase
							%td= link_to 'Mostrar', admin_agent_path(agent)
							%td= link_to 'Editar', edit_admin_agent_path(agent)
							%td= link_to 'Eliminar', admin_agent_path(agent), :method => :delete, :data => {:confirm => '¿Está seguro?' }
