= render layout: './admin/admin_base' do
	%h1.title Agente

	%p
		%b Id:
		= @agent.id
	%p
		%b Nombre:
		= @agent.first_name
	%p
		%b Apellido:
		= @agent.last_name
	%p
		%b Correo:
		= @agent.email
	%p
		%b Aprobado:
		= @agent.approved

	= link_to 'Editar', edit_admin_agent_path(@agent)
	\|
	= link_to 'Listado', admin_agents_path
