= render layout: 'devise/base' do
	%h2
		Editar a #{resource_name.to_s.humanize}
	= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
		= devise_error_messages!
		.field
			= f.label :email, 'Correo'
			= f.email_field :email, autofocus: true
		- if devise_mapping.confirmable? && resource.pending_reconfirmation?
			%div
				Currently waiting confirmation for: #{resource.unconfirmed_email}
		.field
			= f.label :password, 'Contraseña'
			%i (deje en blanco si no lo quiere cambiar)
			= f.password_field :password, autocomplete: "off"
		.field
			= f.label :password_confirmation, 'Confirmar contraseña'
			= f.password_field :password_confirmation, autocomplete: "off"
		.field
			= f.label :current_password, 'Contraseña actual'
			%i (su contraseña actual es necesaria para confirmar los cambios)
			= f.password_field :current_password, autocomplete: "off"
		.actions
			= f.submit "Actualizar", class: 'button'

	%br/
	%h3 Cancelar mi cuenta
	%div #{button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Está seguro de esta acción?" }, method: :delete, class: 'button warning small'}
