= render layout: 'devise/base' do
	%h2 Registro

	= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
		= devise_error_messages!
		.field
			= f.label :first_name, 'Nombre'
			= f.text_field :first_name, autofocus: true
		.field
			= f.label :last_name, 'Apellido'
			= f.text_field :last_name
		.field
			= f.label :email, 'Correo'
			= f.email_field :email
		.field
			= f.label :password, 'Contraseña'
			- if @minimum_password_length
				%em
					(al menos #{@minimum_password_length} caracteres)
			= f.password_field :password, autocomplete: "off"
		.field
			= f.label :password_confirmation, 'Confirmar contraseña'
			= f.password_field :password_confirmation, autocomplete: "off"
		.actions
			= f.submit "Registrarse", class: 'button'
			
	%br/

	= 'Si ya está registrado'
	= render "devise/shared/links"
