= form_for @email_sent do |f|
	.row
		.column.medium-12
			- if @email_sent.errors.any?
				#error_explanation
					%h2= "#{pluralize(@email_sent.errors.count, "error")} prohibited this email_sent from being saved:"
					%ul
						- @email_sent.errors.full_messages.each do |msg|
							%li= msg

	.row
		.column.medium-10
			.field
				= f.label :email_id, 'Correo'
				= f.text_field :email_id
		.column.medium-2
			.field
				= f.label :sent, 'Enviado?'
				= f.check_box :sent
		.column.medium-4
			.field
				= f.label :user_id, 'Usuario'
				= f.text_field :user_id
		.column.medium-4
			.field
				= f.label :status, 'Estatus'
				= f.text_field :status
		.column.medium-4		
			.field
				= f.label :attempts, 'Intentos'
				= f.number_field :attempts
		.column.medium-12		
			.field
				= f.label :response, 'Respuesta'
				= f.text_area :response, rows: 10
			.actions
				= f.submit 'Guardar', class: 'button'
