= render layout: './admin/admin_base' do
	%h2.title Editar Correo Enviado

	= render 'form'

	= link_to 'Mostrar', edit_admin_email_sent_path(@email_sent)
	\|
	= link_to 'Listado', admin_emails_sent_path
