= render layout: './admin/admin_base' do
  %h2.title Listado de Correos Enviados

  %table
    %thead
      %tr
        %th Id
        %th Correo
        %th Usuario
        %th Enviado?
        %th Estatus
        %th Intentos
        %th Respuestas?
        %th
        %th
        %th

    %tbody
      - @emails_sent.each do |email_sent|
        %tr
          %td= email_sent.id
          %td= link_to email_sent.email.purpose, admin_email_path(email_sent.email.id)
          %td= link_to email_sent.user.email, admin_user_path(email_sent.user.id)
          %td= email_sent.sent? ? 'Si' : 'No'
          %td= email_sent.status
          %td= email_sent.attempts
          %td= email_sent.response ? 'Si' : 'No'
          %td= link_to 'Mostrar', admin_email_sent_path(email_sent)
          %td= link_to 'Editar', edit_admin_email_sent_path(email_sent)
          %td= link_to 'Eliminar', admin_email_sent_path(email_sent), :method => :delete, :data => { :confirm => '¿Está seguro?' }

  %br

  = link_to 'Nuevo Correo Enviado', new_admin_email_sent_path
