= render layout: './admin/admin_base' do
	%h2.title Correo Enviado

	%p
		%b Id:
		= @email_sent.id
	%p
		%b Correo:
		= link_to @email_sent.email.purpose, admin_email_path(@email_sent.email.id)
	%p
		%b Usuario:
		= link_to @email_sent.user.email, admin_user_path(@email_sent.user.id)
	%p
		%b Enviado?:
		= @email_sent.sent
	%p
		%b Estatus:
		= @email_sent.status
	%p
		%b Intentos:
		= @email_sent.attempts
	%p
		%b Respuesta:
		%pre
			= JSON.pretty_generate(@email_sent.response) if @email_sent.response

	%br/
	= link_to 'Editar', edit_admin_email_sent_path(@email_sent)
	\|
	= link_to 'Listado', admin_emails_sent_path
