.row
	.column.small-12
		- global_notifications()
		%nav.top-bar{role: 'navigation', data: {topbar: 'true'}}
			%ul.title-area
				%li.logo
					= link_to root_path do
						= image_tag image_path('general/logo-side.png'), alt: 'AKard Logo', size: '100x100'
			%section.top-bar-section
				%ul.right
					%li
						= link_to 'Salir', destroy_agent_session_path, method: :delete
					

	.column.small-3
		%header#admin-menu
			%br/
			%nav
				%ul.side-nav
					%li
						%a{href: admin_dashboard_index_path} Inicio
					%hr/
					%li
						%a{href: admin_businesses_path} Negocios
					%li
						%a{href: admin_coupons_path} Cupones
					%li
						%a{href: admin_surveys_path} Encuestas
					%li
						%a{href: admin_emails_path} Correos
					%hr/
					%li
						%a{href: admin_users_path} Usuarios
					%li
						%a{href: admin_project_updates_path} Actualizaciones del Proyecto
					%li
						%a{href: admin_coupon_winners_path} Cupones Ganados
					%li
						%a{href: admin_surveys_dispensed_index_path} Encuestas Dispensadas
					%li
						%a{href: admin_emails_sent_path} Correos Enviados
					%hr/
					%li
						%a{href: sidekiq_web_path} Sidekiq
					%li
						%a{href: admin_states_path} Estados
					%li
						%a{href: admin_agents_path} Agentes
					%hr/
					%li
						%a{href: admin_business_branches_path} Sucursales de Negocios

	.column.small-9
		%section#admin-main
			= yield
