- ssp = SurveySignupProcessor
.row
	.column.small-12.medium-10.medium-offset-1.end
		%h5.title.text-center Ahora nos ayudarías mucho si nos respondes estas 5 preguntas
		= form_tag registro_encuesta_path, name: 'registro-encuesta' do |f|
			= hidden_field_tag 'user_id', @user.id
			= hidden_field_tag 'sd_id', @survey_dispensed.id
			%ul
				%li
					%h5.question= 'De que categoría de productos o servicios te gustaría recibir descuentos?'
					= text_field_tag 'survey[category]'

				%li
					%h5.question= '¿A qué sitios de descuentos estás suscrito?'
					%h5.question
						%em (ej. Groupon, Privalia)
					= text_field_tag 'survey[subscribed]'

				%li
					%h5.question= '¿Que prefieres al comprar, calidad o precio?'
					- ssp::QUESTIONS[:apps_use]. each do |apps|
						%div
							%span.radio
								= radio_button_tag 'survey[apps_use]', apps
								= label_tag "survey_#{apps}", apps.humanize

				%li
					%h5.question= '¿Cuál es tu rango de edad?'
					- ssp::QUESTIONS[:age_range]. each do |age|
						%div
							%span.radio
								= radio_button_tag 'survey[age_range]', age
								= label_tag "survey_#{age}", age.humanize

				%li
					%h5.question= 'Soy'
					- ssp::QUESTIONS[:sex].each do |sex|
						%div
							%span.radio
								= radio_button_tag 'survey[sex]', sex
								= label_tag "survey_#{sex}", sex.humanize

				%li
					%h5.question= 'Algún comentario que nos quieras enviar:'
					= text_area_tag 'survey[comments]', nil, rows: 4

			= submit_tag 'Enviar', class: 'button'
