%script
	(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

#new-header
	.row
		.column.small-12
			- global_notifications()
			#logo_new.text-center
				= image_tag image_path('general/logo-250.png'), alt: 'AKard Logo'
		.column.small-12.medium-10.medium-offset-2.large-8.large-offset-2.end
			#texto-principal
				%h3 Próximamente descuentos personalizados desde la comodidad de tu smartphone en todo Guadalajara.
#new-main
	.row
		.column.small-12
			#wrapper
				.row
					.column.small-10.small-offset-1.medium-10.medium-offset-1.large-10.large-offset-1.end
						%h5 Déjanos tu correo electrónico y te notificaremos cuando lancemos nuestra fase inicial.
						%h5 ¡Sé de los primeros en disfrutar nuestros descuentos!
					.column.small-12.medium-8.medium-offset-2.left
						= form_for @user, url: registro_crear_path do |f|
							#questionnaire
								.row.collapse
									.column.small-10
										= f.text_field(:email, 
											placeholder: 'Aquí tu correo elecrónico  :)',
											class: 'large', 
											autofocus: true)
									.column.small-2
										= f.submit 'Enviar', class: 'button postfix warning'
						- if @errors['email']
							.column.small-12.error-label
								%p= @errors['email'].first
						<div class="fb-like" data-href="https://www.facebook.com/akardcupones" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
					.column.small-12
						#new-footer
							.row
								.column.medium-4.large-4.text-center
									.explanation-small
										%h5 Recibirás las mejores ofertas desde nuestra app y sitio web.
									.explanation
										%h5 Recibirás las mejores ofertas desde nuestra app y sitio web.
								.column.medium-4.large-4.text-center
									.explanation-small
										%h5 Las promociones se canjearán desde tu teléfono inteligente.
									.explanation
										%h5 Las promociones se canjearán desde tu teléfono inteligente.
								.column.medium-4.large-4.text-center
									.explanation-small
										%h5 Gana puntos y úsalos en tus tiendas favoritas.
									.explanation
										%h5 Gana puntos y úsalos en tus tiendas favoritas.
