#registration-success
	.row
		.column.small-12
			#logo_inside
				= link_to root_path do
					= image_tag(image_path('general/logo-120.png'), alt: 'Akard Logo')
			%h2.text-center ¡Tu correo se registró con éxito!

	.row
		.column.small-10.small-offset-1.medium-9.medium-offset-2.large-7.large-offset-2.end
			#description
				%h4 Serás de los primeros en recibir cupones con los mejores descuentos en Guadalajara.
				%br/
				%h4 ¡Espéralos muy pronto!

	.row
		.column.small-10.small-offset-1.medium-8.medium-offset-2.large-8.large-offset-2.end.survey
			#survey
				= render 'survey_1' unless @survey_dispensed.response?

				- if flash[:survey_submitted] == true
					%script
						(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
						fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));

					%h3.text-center.thanks
						= 'Gracias por tus respuestas!' " &nbsp;".html_safe + '*:)'

					<div class="fb-like text-center" data-href="https://www.facebook.com/akardcupones" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
