= "¡Bienvenido #{@user.email}!"
= "\r\n"
Ahora serás de los primeros en recibir grandes descuentos. Estamos trabajando para personalizar las promociones a lo que realmente te gusta a ti.
= "\r\n"
Agrega esta dirección de corrreo a la lista de remitentes válidos para que no te pierdas de ninguno de nuestros correos.
= "\r\n"
Akard.club
