= "!Felicidades #{@winner[:user].email}!"
= "\r\n"
Te ganaste la siguiente promoción en Akard:
= "\r\n"
= @winner[:promotion].title
= "\r\n"
Para obtenerla acude al siguiente enlace y elige cualquier de las tres opciones ahí indicadas para canjearla:
= "\r\n"
= @winner[:promo_url]
= "\r\n"
Sitio: akard.club
Facebook: facebook.com/akardcupones
Twitter: @akardclub
