= form_for @coupon_winner do |f|
	- if @coupon_winner.errors.any?
		#error_explanation
			%h2= "#{pluralize(@coupon_winner.errors.count, "error")} prohibited this admin_coupon_winner from being saved:"
			%ul
				- @coupon_winner.errors.full_messages.each do |msg|
					%li= msg

	.field
		= f.label :coupon, 'Cupón'
		= f.text_field :coupon
	.field
		= f.label :user, 'Usuario'
		= f.text_field :user
	.field
		= f.label :token, 'Token'
		= f.text_field :token
	.field
		= f.label :email_sent, 'Correo Enviado'
		= f.text_field :email_sent
	.field
		= f.label :status, 'Estatus'
		= f.text_field :status
	.field
		= f.label :redeemed_at, 'Fecha Canjeado'
		= f.date_select :redeemed_at
	.field
		= f.label :metadata, 'Metadatos'
		= f.text_field :metadata
	.actions
		= f.submit 'Guardar', class: 'button'
