= render layout: './admin/admin_base' do
	%h2.title Listado de Ganadores de Cupones

	%table
		%thead
			%tr
				%th Id
				%th Cupón
				%th Usuario
				%th Estatus
				%th Fecha Canjeado
				%th
				%th
				%th

		%tbody
			- @coupon_winners.each do |coupon_winner|
				%tr
					%td= coupon_winner.id
					%td= link_to coupon_winner.coupon.title, promotion_path(coupon_winner.coupon.id)
					%td= link_to(coupon_winner.user.email, admin_user_path(coupon_winner.user)) 
					%td= coupon_winner.status
					%td= coupon_winner.redeemed_at
					%td= link_to 'Mostrar', coupon_winner
					%td= link_to 'Editar', edit_admin_coupon_winner_path(coupon_winner)
					%td= link_to 'Eliminar', coupon_winner, :method => :delete, :data => { :confirm => '¿Estás seguro?' }

	%br

	= link_to 'Nuevo Ganador de Cupón', new_admin_coupon_winner_path
