= render layout: './admin/admin_base' do
	%h2.title Ganador de Cupón

	%p
		%b Id:
		= @coupon_winner.id
	%p
		%b Coupon:
		= link_to @coupon_winner.coupon.title, admin_coupon_path(@coupon_winner.coupon)
	%p
		%b User:
		= link_to @coupon_winner.user.email, admin_user_path(@coupon_winner.user)
	%p
		%b Token:
		= @coupon_winner.token
	%p
		%b Email sent:
		= link_to @coupon_winner.email_sent.id, admin_email_sent_path(@coupon_winner.email_sent)
	%p
		%b Metadata:
		= @coupon_winner.metadata
	%p
		%b Status:
		= @coupon_winner.status
	%p
		%b Redeemed at:
		= @coupon_winner.redeemed_at

	= link_to 'Editar', edit_admin_coupon_winner_path(@coupon_winner)
	\|
	= link_to 'Listado', admin_coupon_winners_path
