= form_for @surveys_dispensed do |f|
  - if @surveys_dispensed.errors.any?
    #error_explanation
      %h2= "#{pluralize(@surveys_dispensed.errors.count, "error")} prohibited this surveys_dispensed from being saved:"
      %ul
        - @surveys_dispensed.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :survey_id, 'Encuesta'
    = f.text_field :survey_id
  .field
    = f.label :user_id, 'Usuario'
    = f.text_field :user_id
  .field
    = f.label :where, 'Donde Aparece'
    = f.text_field :where
  .field
    = f.label :response, 'Respuesta'
    = f.text_field :response
  .actions
    = f.submit 'Guardar', class: 'button'
