= render layout: './admin/admin_base' do
	%h2.title Editar Encuesta Dispensada

	= render 'form'

	= link_to 'Mostrar', edit_admin_surveys_dispensed_path(@surveys_dispensed)
	\|
	= link_to 'Listado', admin_surveys_dispensed_index_path
