= render layout: './admin/admin_base' do
	%h2.title Listado de Encuestas Dispensadas

	%table
		%thead
			%tr
				%th Id
				%th Encuesta
				%th Usuario
				%th Donde Aparece
				%th Respuesta
				%th
				%th
				%th

		%tbody
			- @surveys_dispensed.each do |surveys_dispensed|
				%tr
					%td= surveys_dispensed.id
					%td= surveys_dispensed.survey_id
					%td= surveys_dispensed.user_id
					%td= surveys_dispensed.where
					%td= surveys_dispensed.response
					%td= link_to 'Mostrar', admin_surveys_dispensed_path(surveys_dispensed)
					%td= link_to 'Editar', edit_admin_surveys_dispensed_path(surveys_dispensed)
					%td= link_to 'Eliminar', admin_surveys_dispensed_path(surveys_dispensed), :method => :delete, :data => { :confirm => '¿Está seguro?' }

	%br

	= link_to 'Dispensar nueva encuesta', new_admin_surveys_dispensed_path
