= render layout: './admin/admin_base' do
	%h2.title Encuesta Dispensada
	%p
		%b Id:
		= @surveys_dispensed.id
	%p
		%b Encuesta:
		= link_to @surveys_dispensed.survey.purpose, 
			admin_survey_path(@surveys_dispensed.survey.id)
	%p
		%b Usuario:
		= link_to @surveys_dispensed.user.email,
			admin_user_path(@surveys_dispensed.user.id)
	%p
		%b Donde Aparece:
		= @surveys_dispensed.where
	%p
		%b Respuesta:
		= @surveys_dispensed.response.to_json

	= link_to 'Editar', edit_admin_surveys_dispensed_path(@surveys_dispensed)
	\|
	= link_to 'Listado', admin_surveys_dispensed_index_path
