// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#business-info {
	border: 1px solid #D0D0D0;
	padding: 1rem 1.5rem;
	margin-bottom: 3rem;
}
