// Place all the styles related to the Admin::CouponWinners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_and_overrides';

.new-sub-nav {
	background-color: #F1F1F1;
	padding: 8px 20px;
	margin: 0;
	color: #B3B3B3;

	li {
		list-style-type: none;
		display: inline;

		a {
			padding: 4px 10px;
			margin: 0 10px;
			@include radius(3px);
	
			&:hover {
				background-color: #CEDDE3;
			}
		}
	}
}

.wide-ribbon {
	background: #FCFCFC;
	border-bottom: 1px solid #969696;
}
