= render layout: 'devise/base' do
	%h2 Acceder

	= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
		.field
			= f.label :email, 'Correo'
			= f.email_field :email, autofocus: true
		.field
			= f.label :password, 'Contraseña'
			= f.password_field :password, autocomplete: "off"
		- if devise_mapping.rememberable?
			.field
				= f.check_box :remember_me
				= f.label :remember_me, 'Recordarme'
		.actions
			= f.submit "Acceder", class: 'button'

	/= render "devise/shared/links"
