= form_for @email do |f|
	.row
		.column.medium-12
			- if @email.errors.any?
				#error_explanation
					%h2= "#{pluralize(@email.errors.count, "error")} prohibited this email from being saved:"
					%ul
						- @email.errors.full_messages.each do |msg|
							%li= msg
	.row
		.column.medium-4
			.field
				= f.label :model, 'Modelo'
				= f.select :model, 
					Admin::Email::MODEL_OPT.each { |opt| [opt] }, 
					include_blank: true
		.column.medium-4
			.field
				= f.label :purpose, 'Propósito'
				= f.text_field :purpose
		.column.medium-4
			.field
				= f.label :template_name, 'Plantilla'
				= f.text_field :template_name
		.column.medium-12
			.field
				= f.label :subject, 'Asunto'
				= f.text_field :subject
			.actions
				= f.submit 'Guardar', class: 'button'
