= render layout: './admin/admin_base' do
	%h2.title Listado de Correos

	%table
		%thead
			%tr
				%th Id
				%th Modelo
				%th Propósito
				%th Asunto
				%th Plantilla
				%th
				%th
				%th

		%tbody
			- @emails.each do |email|
				%tr
					%td= email.id
					%td= email.model.titlecase
					%td= email.purpose
					%td= email.subject
					%td= email.template_name
					%td= link_to 'Mostrar', admin_email_path(email)
					%td= link_to 'Editar', edit_admin_email_path(email)
					%td= link_to 'Eliminar', admin_email_path(email), :method => :delete, :data => { :confirm => '¿Estás seguro?' }

	%br

	= link_to 'Nuevo Correo', new_admin_email_path
