= render layout: './admin/admin_base' do
	%h2.title Correo

	%p
		%b Id:
		= @email.id
	%p
		%b Modelo:
		= @email.model
	%p
		%b Propósito:
		= @email.purpose
	%p
		%b Asunto:
		= @email.subject
	%p
		%b Plantilla:
		= @email.template_name

	= link_to 'Editar', edit_admin_email_path(@email)
	\|
	= link_to 'Listado', admin_emails_path
