@import 'scaffolds';

.select_datetime {
	select {
		display: inline-block;
		width: 17%;
	}
}

.top-bar {
	color: black;

	li.logo {
		padding-left: 1rem;

		img {
			padding-top: .2rem;
		}
	}

	a {
		color: black;
		&:hover {
			color: black;
		}
	}

	section.top-bar-section {
		a {
			color: black;
		}
	}
}

#admin-menu {
	background: $menu-fondo;
	border-top: 1px solid #F8F8F8;
	display: table;
	min-height: $contenedor-altura;
	width: 100%;

	.menu-title {
		margin-bottom: 0;
		margin-left: 1rem;
		padding-top: 2.5rem;
	}
}

#admin-main {
	padding: 0 0 5rem;
}

h2.title {
	padding-bottom: 3rem;
}
