// Place all the styles related to the Coupon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'custom';

.coupon {
	padding-bottom: 5rem;

	.akard-logo {
		padding: .2rem 0 0;
		color: gray;
	}

	.action-call {
		padding: 1rem 0 1.5rem;
		color: #8C8C8C;
	}

	.title {
		padding-bottom: 1.5rem;
	}

	.product-img {
		padding-left: 3rem;
	}

	.claim-coupon {
		padding-bottom: 1rem;
		h4 {
			color: $red-brick;
		}
	}

	hr.business {
		padding-bottom: 2rem;
	}

	.business-info {
		padding-top: 4rem;

		h5 {
			border-bottom: 1px solid #C9C9C9;
			padding-bottom: 1rem;
			margin-bottom: 2rem;
		}

		.img {
			padding-bottom: 1rem;
		}

		address {
			padding: 1rem 0 2rem;
		}
	}

	.conditions-info {
		padding-top: 4rem;

		h5 {
			padding-bottom: 2rem;
		}

		ul {
			font-size: .9rem;
			padding-left: 2rem;
		}
	}

	.countdown {
		.timer {
			color: $red-brick;	
		}

		span {
			font-weight: bold;
		}
	}
}

.winner {
	padding-bottom: 5rem;

	.akard-logo {
		padding: 1rem;
	}

	.congrats {
		padding-bottom: 2rem;

		span {
			color: $red-brick;
		}
	}

	.instructions {
		ol {
			padding-top: .7rem;
			padding-left: 2rem;
			counter-reset: list;
		}

		li {
			list-style: none;
			padding-bottom: .2rem;

			&:before {
				content: counter(list, decimal) ") ";
				counter-increment: list;
				padding-right: .5rem;
			}
		}

	}

	.map {
		img {
			margin: 0 auto;
		}
	}
}

.coupon-winner {
	margin: 3rem 1rem 3rem;
	border: 3px dashed #2C2C2C;

	.akard {
		padding: .5rem 2rem;
		background: #363636;
		color: #F4F4F4;
	}

	.qr {
		padding: 1rem 2rem;

		table {
			border-width: 0;
			border-style: none;
			border-color: #0000ff;
			border-collapse: collapse;
		}

		td {
			border-left: solid 6px #000;
			padding: 0; 
			margin: 0; 
			width: 0px; 
			height: 6px; 
		}

		td.black { border-color: #000; }
		td.white { border-color: #fff; }

	}

	.main {
		padding: 1rem 2rem 0;
	}

	.business-and-terms {
		padding: 0 2rem 1rem;

		address {
			font-size: 1rem;
		}
	}
}
