// Section: Promotions#Index
@import 'custom';

#promotions-index {
	#signup {
		padding-top: .5rem;
		color: #A1A1A1;
	}

	.title {
		padding: 1.5rem 0 3.5rem;
		margin-top: 0rem;
	}

	.promotions {
	}

	.promotion {
		border: 1px solid #E3E3E3;
		padding: 1rem 2rem 0;
		color: #484848;

		&:hover { 
			background-color: #F9F9F9; 
		}

		h4 {
			padding-bottom: 1rem;
		}

		#price {
			padding-top: 2rem;

			p {
				margin-bottom: .5rem;
			}

			span {
				color: $red-brick;
			}
		}

		.location {
			padding-top: 1rem;
		}
	}
}

#promotions-show {
	.action-call {
		padding-top: 4rem;
	}

	.title {
		padding: 1.5rem 0 3rem;
	}

	#price {
		span {
			font-weight: bold;
			color: $red-brick;
		}
	}

	.description {
		padding: 3rem 0 1rem;
	}

	.error-label {
		margin-top: -1rem;
		color: red;
	}
}
