@import 'foundation_and_overrides';
@import 'scaffolds';


// Section: Registrion-New

#new-header {
	#logo_new {
		display: block;
		font-size: 2.3rem;
		padding-top: .5rem;
		padding-bottom: 3rem;
	}

	padding-bottom: 1.5rem;
}

#new-main {
	background-color: white;
	background-image: image-url('site/arco1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	input {
		font-size: 1.2rem;
	}

	.fb-like {
		padding: 4rem 0 3rem;
	}

	.error-label {
		color: red;
	}
}

#new-footer {
	padding-bottom: 2rem;
	
	@media only screen and (max-width: 40em) {
		.explanation-small {
			display: inherit;
		}

		.explanation {
			display: none;
		}
	}
	@media only screen and (min-width: 40.063em) {
		.explanation-small {
			display: none;
		}

		.explanation {
			display: inherit
		}
	}
}

#new-main #wrapper {
	padding: 2rem 1rem 6rem;
	margin: 0 -0.5rem 0;
	background: rgba(255, 255, 255, 0.5);
}

#main form {
	padding: 2rem 0 2rem;
}

form #questionnaire {
	border: 1px solid #1E3C51;
	margin-top: 3rem;

	input {
		margin: 0;
	}

}

#new-footer .explanation {
	@include radius(5px);
	padding: 2rem 1rem;
	background: rgba(255, 255, 255, 0.7);

}

#new-footer .explanation-small {
	padding: 2rem 2rem 2rem;
	margin-bottom: 1rem;
	@include radius(5px);
	background: rgba(255, 255, 255, 0.5);
}

#registration-success {
	#logo_inside {
		display: block;
		font-size: 2rem;
		padding-top: .5rem;
		padding-bottom: 2.5rem;

		a {
			color: black;
		}
	}

	#description {
		padding-top: 2.5rem;
		padding-bottom: 1rem;
	}

	#survey {
		$enc-fondo	: #f0f0f0;
		background-color: $enc-fondo;
		margin-bottom: 5rem;

		.title {
			padding: 1rem 2rem;
		}

		form.new_user {
			margin-top: 2rem;
		}

		input[type="text"] {
			font-size: 1.2rem;
		}

		span {
			@include radius(5px);
			border: 2px solid $enc-fondo;
			padding: 0.3rem 0.5rem;

			&:hover {
				background: $input-yellow;
				border: 2px solid #AAA;
			}
		}

		span.selected {
			background: #C3E0FF;
			border: 2px solid #AAA;
		}

		.thanks {
			padding-top: 4rem; 
		}

		.fb-like {
			padding: 3rem 0 4rem;
		}

		ul {
			margin-left: 0;
		}

		li {
			list-style-type: none;
			padding-bottom: 1rem;
		}

		.question {
			color: #237ba1;
		}

		label {
			font-size: 1rem;
		}

		input, textarea {
			font-size: 1rem;
		}
	}
}


