// Variables
$input-yellow: #FFFFE3;
$menu-fondo: #F1F1F1;
$contenedor-altura: 45rem;

// Global
body {
	background-color: #1E3C51;

	#container {
		background-color: White;
		min-height: $contenedor-altura;
		padding-bottom: 4rem;
	}

	footer {
		$link-color: #BBCEDD;
		$text-color: #BBBBBB;

		.column {
			margin: 4rem 0;
		}

		p {
			color: $text-color;
		}

		a {
			color: $link-color;

			&:hover {
				text-decoration: underline;
				color: #F8F8F8;
			}

			&:visited {
				color: $link-color;
			}
		}

		address {
			color: $text-color;
		}
	}
}

#admin-dashboard {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	
	a {
		background: #FFF085;
		padding: .3rem 1rem;
	}
}

.title-generic {
	padding: 2rem 0 3rem;
}

address {
	font-style: normal;
}

ul.print-files {
	li {
		list-style-type: none;
		padding-bottom: 1rem;

		span {
			padding: 0 2rem;
		}
	}
}

.multiple-uploads {
	clear: both;

	span {
		white-space: nowrap;
	}

	input[type="file"] {
		width: 50%;
	}

	input[type="submit"] {
		font-size: 0.9rem;
		background: #008CBA;
		border: 3px solid #008CBA;
		color: white;
		cursor: pointer;
	}
}

// Devise
#devise {
	h2 {
		padding-bottom: 3rem;
	}
}

#logo-devise {
	padding-top: 1rem;

	img {
		padding-top: .2rem;
	}

	a {
		color: black;
		font-size: 1.2rem;

		&:hover {
			color: black;
		}
	}
}

#static-title {
	padding-top: 2rem;
}


// Errors
#notice {
	color: green;
}

.field-error {
	$color: #CE2B33;
	
	input, textarea {
		border: 1px solid $color;
		padding-bottom: 0;
	}

	span {
		font-size: .9rem;
		color: $color;
		display: block;
		margin-top: -1rem;
		padding-left: .5rem;
		padding-bottom: 1rem;
	}
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
