// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-static {
	padding: 2rem 0 4rem;
}

#static-page {

	#instructions {
		font-size: 1.1rem;

		li {
			list-style: 'letters';
			line-height: 2.5rem;
		}
	}

	#coupon-present-options {
		li {
			padding-bottom: 1.5rem;
		}

		li img {
			padding: .5rem 0 .5rem 1rem;
		}
	}
}
