.row
	.column.small-10.small-offset-1
		#logo-devise
			= link_to root_path do
				= image_tag image_path('general/logo-side.png'), alt: 'AKard Logo'
.row
	.column.medium-8.medium-offset-2.large-6.large-offset-3
		#devise
			= yield
