= form_for @user do |f|
	- if @user.errors.any?
		#error_explanation
			%h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
			%ul
				- @user.errors.full_messages.each do |msg|
					%li= msg

	.field
		= f.label :email, 'Correo'
		= f.text_field :email
	.actions
		= f.submit 'Guardar', class: 'button'
