= render layout: './admin/admin_base' do
	.row
		.column.large-12
			%h2.title Listado de Usuarios

			%table
				%thead
					%tr
						%th Id:
						%th Correo:
						%th
						%th
						%th

				%tbody
					- index = 0
					- @users.each do |user|
						%tr
							%td= user.id
							%td= user.email
							%td= link_to 'Mostrar', admin_user_path(user)
							%td= link_to 'Editar', edit_admin_user_path(user)
							%td= link_to 'Eliminar', admin_user_path(user), :method => :delete, :data => { :confirm => '¿Está seguro?' }

			%br

			= link_to 'Nuevo Usuario', new_admin_user_path
