= render layout: './admin/admin_base' do
	%h2.title Usuario

	%p
		%b Id:
		= @user.id
	%p
		%b Email:
		= @user.email

	= link_to 'Editar', edit_admin_user_path(@user.id)
	\|
	= link_to 'Listado', admin_users_path
