.row
	.column.medium-12
		%h2.title= @promotion.title
	.column.medium-5.large-4
		.panel
			%p
				= "Quedan"
				%strong= @promotion.available
				= "cupones disponibles"
			%hr/
			%p.countdown
				= 'Termina en:'
				- if @promotion.available > 0
					- end_datetime = (@promotion.publish_end_datetime)
					%span.timer{data: {end: end_datetime.strftime('%Y-%m-%d %H:%M:%S')}}
						%noscript
							= promotion_time_left_noscript(@promotion.publish_end_datetime.localtime)
				- else
					%span.timer	Cupón agotado.
			%hr/
			#price
				%h5.text-center
					= 'Precio'
				%p
					= "Regular:"
					= number_to_currency @promotion.price_regular, precision: 0
					%br/
					= "Con esta promoción:"
					%strong= number_to_currency @promotion.price_promo, precision: 0
					%br/
					= 'Descuento:'	
					- pr_reg = @promotion.price_regular; pr_disc = @promotion.price_promo
					- percent = (pr_reg-pr_disc) / pr_reg * 100
					%span= number_to_percentage percent, precision: 0
	.column.medium-7.large-8
		.product-img
			- if @promotion_img_paths.any?
				= image_tag @promotion_img_paths.first, alt: 'Producto'
		- haml_tag :ul, class: 'description' do
			- wrap_lines_with_tag(@promotion.description, 'li')
		
.row
	.column.small-12.medium-10.large-8
		.claim-coupon
			- if @promotion.available > 0
				%h4 Gana este cupón capturando tu correo aquí:
				= form_tag promotion_path(@promotion.id) do
					.row.collapse
						.column.small-10
							= text_field_tag('ganador[correo]', 
								nil,
								placeholder: 'Aquí tu correo elecrónico  :)',
								autofocus: true)
						.column.small-2
							= submit_tag 'Enviar', class: 'button postfix'
				- if @user.present? and @user.errors[:email].present?
					.column.small-12
						.error-label= @user.errors[:email].first
			- else
				%h4 Este cupón se ha agotado.
				%h5<
					= 'Te invitamos a estar al pendiente de nuevas promociones'
					= link_to(' registrándote aquí', registro_nuevo_path)
					= '.'
.row
	.column.large-8
		.business-info
			%h5.text-center Establecimiento
			.row
				.column.medium-5
					= image_tag @business_img_path, alt: 'Logo', size: '150x150'
					- business_address(@promotion)
				.column.medium-7
					= linked_business_map('350x300', 14)
				.column.end
	.column.large-4
		.conditions-info
			%h5.text-center Condiciones
			%ul
				- wrap_lines_with_tag(@promotion.conditions, 'li')
