#promotions-index
	.row
		.column.medium-2
			#akard-logo
				= image_tag 'general/logo-80.png', alt: 'Logo'
		.column.medium-10
			.row
				.column.medium-12
					#signup.right
						= link_to 'Regístrate', root_url
						= 'y recibe nuestras promociones por correo.'
				.column.medium-10
					- if @referrer.nil?
						%div
							.title.text-center
								%h3 Disfruta nuestras promociones
				.column.medium-2
		- if @referrer == 'signup_survey'
			.column.medium-12.text-center
				.welcome
					= "Gracias por registrarte."
					%h3= "¡Bienvenido a nuestras área de promociones!"
					%br/
					%br/

		.column.medium-12
			.promotions
				.row
					- @promotions.each do |prom|
						.column.medium-6
							= link_to promotion_path(prom) do
								.promotion
									.row
										.column.small-12
											%h4= prom.title
										.column.small-8
											- ie = ImageExplorer.new('promotions', prom.id)
											= image_tag ie.get_image_paths().first
										.column.small-4
											#price.text-center
												- ahorro = prom.price_regular - prom.price_promo
												- percent = ahorro / prom.price_regular * 100
												%p
													= 'Ahorro:'
													%br/
													%strong= number_to_currency ahorro, precision: 0
												%p
													= 'Descuento'
													%br/
													%span= number_to_percentage percent, precision: 0
										.column.small-12
											.location
												- bb = prom.business_branch
												%p.text-right= "#{bb.borough}, #{bb.city}"
