#promotions-show
	.row.coupon
		.column.medium-2
			.akard-logo
				= link_to promotions_path do
					= image_tag 'general/logo-80.png', alt: 'Logo'
		.column.medium-8
			.action-call.text-center Estas a un paso de ganarte el siguiente cupón:
		.column.medium-2
		.column.medium-12
			= render 'show_layout_1'
