.row.winner
	.column.medium-2
		.akard-logo
			= link_to promotions_path do
				= image_tag 'general/logo-80.png', alt: 'Logo'
	.column.medium-8
	.column.medium-2
	.column.medium-12
		%h4.text-center.congrats
			= 'Felicidades '
			%span= @promotion_winner.user.email
			= '. ¡Has ganado este cupón!'
		.instructions
			%h5 Para canjearlo tienes 3 opciones:
			%ol
				%li
					= 'Toma una foto con tu celular del área punteada, sin flash y bien enfocada ('
					= link_to 'Ver ejemplo', instrucciones_path(anchor: 'escritorio'), target: '_blank'
					= ').'
				%li 
					= 'Si navegas desde tu celular, toma una captura del área punteada y guárdala ('
					= link_to 'Ver ejemplo', instrucciones_path(anchor: 'celular'), target: '_blank'
					= ').'
				%li Imprime esta página.

			%p 
				= 'Muéstrale al establecimiento cualquiera de las 3 opciones antes mencionadas.'
				- print_signup_survey_link_if_unanswered(@user)

		.coupon-winner
			.row
				.column.medium-12
					.akard
						.row
							.column.medium-6
								.text-center Una promoción de AKard
							.column.medium-6
								.text-center akard.club
			.row
				.column.small-8.small-centered.medium-4.medium-uncentered.large-3
					.qr
						:javascript
							var node = $('.qr');
							if (Modernizr.svg) {
								var svg = '#{@qr.as_svg(module_size: 6).gsub("\n","")}'
								node.html(svg)
							} else {
								var html = '#{@qr.as_html()}'
								node.html(html)
							}
						%noscript
							= @qr.as_html().html_safe
				.column.medium-8.large-9
					.main
						.row								
							.column.medium-12.large-8
								%h4= @promotion.title
								%p Válido del 2 de febreo al 30 de marzo de 2016.
							.column.medium-12.large-4
								= image_tag @promotion_img_path, alt: 'Producto', size: '200x200'
							.column.medium-12
								%p
									= 'Ganador del cupón:'
									%strong
										= @promotion_winner.user.email
			.row
				.column.medium-12
					.business-and-terms
						.row
							.column.medium-12
								%hr/
							.column.small-10.small-centered.medium-5.medium-uncentered
								= image_tag @logo_img_path, alt: 'Logo', size: '150x150'
								- business_address(@promotion)
							.column.small-10.small-centered.medium-7.medium-uncentered
								%p
									%strong Términos y condiciones
								- haml_tag :ul do
									- wrap_lines_with_tag(@promotion.conditions, 'li')
	.column.medium-12
		.map.text-center
			%p 
				= 'Mapa del establecimiento (clic pero verlo en Google).'
			= linked_business_map('700x400', 15)
