= form_for @coupon do |f|
	.row
		.column.medium-12
			- if @coupon.errors.any?
				#error_explanation
					%h2= "#{pluralize(@coupon.errors.count, "error")} prohibited this coupon from being saved:"
					%ul
						- @coupon.errors.full_messages.each do |msg|
							%li= msg
	.row
		.column.medium-9
			.field
				= f.label :business_id, 'Negocio'
				= form_select_for_business(f)
		.column.medium-3
			.field
				= f.label :type_of_coupon, 'Tipo de Cupón'
				- options = Admin::Coupon::TYPE_OF_COUPON_OPT.each { |opt| [opt] }
				= f.select :type_of_coupon, options, include_blank: true
		.column.medium-12
			.field
				= f.label :business_branch_id, 'Sucursal'
				= f.select :business_branch_id, @branches_short_address, include_blank: true
			.field
				= f.label :title, 'Título'
				= f.text_field :title
			%br/
		.column.medium-6
			.row
				.column.medium-10
					%p.text-center Precio
				.column.medium-2.end
			.row
				.column.medium-5
					.field
						= f.label :price_regular, 'Regular'
						= f.text_field :price_regular
				.column.medium-5
					.field
						= f.label :price_promo, 'Promocional'
						= f.text_field :price_promo
				.column.medium-2.end
		.column.medium-6
			.row
				.column.medium-offset-2.medium-10
					%p.text-center Cupones
				.column.medium-offset-2.medium-5
					.field
						= f.label :quantity, 'Liberados'
						= f.number_field :quantity
				.column.medium-5
					.field
						= f.label :available, 'Disponibles'
						= f.number_field :available
		.column.medium-12
			.field
				= f.label :description, 'Descripción'
				= f.text_area :description, rows: 7
		.column.medium-12
			.field
				= f.label :conditions, 'Condiciones'
				= f.text_area :conditions, rows: 7
		.column-medium-12
			.row
				.column.medium-12
					%br/
				.column.medium-4
					%p ¿Activo para ser publicado?
				.column.medium-1
					= 'Si'
					= f.radio_button :publish_active, 'true'
				.column.medium-7
					= 'No'
					= f.radio_button :publish_active, 'false'
				.column.medium-10.end
		.column.medium-12
			%br/
			%p Periodo de Publicación
		- dt_now = DateTime.now
		.column.medium-11.medium-offset-1
			.select_datetime
				= f.label :publish_start_datetime, 'Inicio'
				= f.datetime_select :publish_start_datetime, start_year: 2016, default: dt_now
		.column.medium-11.medium-offset-1
			.select_datetime
				= f.label :publish_end_datetime, 'Fin'
				= f.datetime_select :publish_end_datetime, start_year: 2016, default: dt_now + 7.days
		.column.medium-12
			%br/
			%p Periodo de Validez
		.column.medium-11.medium-offset-1
			.select_datetime
				= f.label :valid_start_datetime, 'Inicio'
				= f.datetime_select :valid_start_datetime, start_year: 2016, default: dt_now
		.column.medium-11.medium-offset-1
			.select_datetime
				= f.label :valid_end_datetime, 'Fin'
				= f.datetime_select :valid_end_datetime, start_year: 2016, default: dt_now + 2.months
		.column.medium-12
			%br/
			.select_datetime
				= f.label :exchanged_datetime, 'Fecha canjeado'
				= f.datetime_select :exchanged_datetime, start_year: 2016, prompt: true
		.column.medium-12
			%br/
			%br/
			.actions
				= f.submit 'Guardar', class: 'button'
