= render layout: './admin/admin_base' do
	%h1.title Listado de Cupones

	%table
		%thead
			%tr
				%th Id
				%th Negocio
				%th Título
				%th Cant.
				%th Disp.
				%th 
				%th 
				%th 

		%tbody
			- @coupons.each do |coupon|
				%tr
					%td= coupon.id
					%td= link_to (coupon.business_branch.business.name), 
						admin_business_path(coupon.business_branch.business_id)
					%td= coupon.title
					%td= coupon.quantity
					%td= coupon.available
					%td= link_to 'Mostrar', admin_coupon_path(coupon['id'])
					%td= link_to 'Editar', edit_admin_coupon_path(coupon['id'])
					%td= link_to 'Eliminar', admin_coupon_path(coupon['id']), :method => :delete, :data => { :confirm => '¿Estás seguro?' }

	%br

	= link_to 'Nuevo Cupón', new_admin_coupon_path
