.wide-ribbon
	.row
		.column.medium-12
			%ul.new-sub-nav
				%li ACCIONES:
				%li
					%a{href: admin_coupon_path(@coupon.id)} Regresar

.row
	.column.medium-12
		- @promotion = @coupon
		- @promotion_img_paths = ImageExplorer.new('promotions', @promotion.id).get_image_paths()
		= render partial: '/promotions/show_layout_1'
