= render layout: './admin/admin_base' do
	%h2.title Cupón
	
	%ul.new-sub-nav
		%li ACCIONES:
		%li
			=link_to 'Previsualizar', preview_admin_coupon_path(@coupon.id)
		%li
			= link_to 'Visitar', promotion_path(@coupon.id), target: '_blank'
		%li
			= link_to 'Editar', edit_admin_coupon_path(@coupon)
	%br/
	
	%p
		%b Id:
		= @coupon.id
	%p
		%b Negocio:
		= link_to @coupon.business.name, admin_business_path(@coupon.business_id)
	%p
		%b Sucursal:
		- branch = Admin::BusinessBranch.find(@coupon.business_branch_id)
		- short_address = "#{branch.street_name}, #{branch.city}, #{branch.state.name}"
		= link_to short_address, admin_business_branch_path(branch.id)
	%p
		%b Tipo de Cupón:
		= @coupon.type_of_coupon
	%p
		%b Título:
		= @coupon.title

	%b Foto(s) del producto:
	%ul.print-files
		- print_images_from_paths(@image_paths, 'li', @coupon)
		.multiple-uploads
			= form_tag({action: :upload_image, id: @coupon.id}, multipart: true) do
				%span
					= file_field_tag 'img', accept: 'image/png, image/jpeg'
					= submit_tag 'Subir Imagen'
	%p
		%b Cantidad:
		= @coupon.quantity
	%p
		%b Disponible:
		= @coupon.available
	%p
		%b Precio Regular:
		= number_to_currency @coupon.price_regular
	%p
		%b Precio Promocional:
		= number_to_currency @coupon.price_promo
	%p
		%b Estatus:
		= @coupon.status
	%p
		%b ¿Activo para ser publicado?
		- resp = @coupon.publish_active
		- if resp == true
			= 'Si'
		- if resp == false or resp == nil
			= 'No'

	%b Fecha de publicación:
	%ul
		%li
			= 'Inicio:'
			= format_datetime @coupon.publish_start_datetime
		%li
			= 'Fin:'
			= format_datetime @coupon.publish_end_datetime

	%b Fecha de validez:
	%ul
		%li
			= 'Inicio:'
			= format_datetime @coupon.valid_start_datetime
		%li
			= 'Fin:'
			= format_datetime @coupon.valid_end_datetime

	%p
		%b Fecha canjeado:
		- exchanged = @coupon.exchanged_datetime
		= exchanged ? format_datetime(exchanged) : 'Aún no'

	%b Descripción:
	- haml_tag :ul do
		- wrap_lines_with_tag(@coupon.description, 'li')

	%b Condiciones:
	- haml_tag :ul do
		- wrap_lines_with_tag(@coupon.conditions, 'li')
