= form_for @state do |f|
	- if @state.errors.any?
		#error_explanation
			%h2= "#{pluralize(@state.errors.count, "error")} prohibited this state from being saved:"
			%ul
				- @state.errors.full_messages.each do |msg|
					%li= msg

	.field
		= f.label :name, 'Nombre'
		= f.text_field :name
	.actions
		= f.submit 'Guardar', class: 'button'
