= render layout: './admin/admin_base' do
	%h2.title Listado de Estados

	%table
		%thead
			%tr
				%th Id
				%th Nombre
				%th
				%th

		%tbody
			- @states.each do |state|
				%tr
					%td= state.id
					%td= state.name
					%td= link_to 'Mostrar', admin_state_path(state)
					%td= link_to 'Editar', edit_admin_state_path(state)
