= render layout: './admin/admin_base' do
	%h2.title Estado

	%p
		%b Id:
		= @state.id
	%p
		%b Nombre:
		= @state.name

	= link_to 'Editar', edit_admin_state_path(@state)
	\|
	= link_to 'Listado', admin_states_path
