!!!
%html{:lang => "es"}
	%script
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-76311613-1', 'auto');
		ga('send', 'pageview');
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:charset => "utf-8"}/
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

		%meta{name: 'author', content: 'aKard' }/
		%meta{name: 'description', content: 'aKard Registro - Próximamente' }/
		%meta{name: 'keywords', content: 'plataforma de promoción, promoción, cupón, cupones, descuentos, precios bajos, zona metropolitana de guadalajara, zmg, guadalajara, zapopan, tlaquepaque, tlajomulco, tonala'}/
		%link{rel: "shortcut icon", href: "favicon.ico", type: 'image/x-icon'}/
		- set_robots_meta_tag(request.fullpath)
		%title= get_title( request.fullpath )
		= stylesheet_link_tag    "application"
		= javascript_include_tag "vendor/modernizr"
		= javascript_include_tag "application", 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		#container
			.row
				.column.medium-12
					- path = request.fullpath.split('/').reject(&:empty?).first
					- if agent_signed_in? and current_agent.approved? and path != 'admin'
						#admin-dashboard
							.row
								.column.large-12
									%div.admin-panel= link_to 'Panel de Administración', admin_path

				- path = request.fullpath.split('/').reject(&:empty?).first
				- unless path == 'admin'
					.column.medium-12
						- global_notifications()

			= yield
		%footer
			.row
				.column.small-8.small-centered.medium-4.medium-uncentered
					= link_to 'Promociones', promotions_url
					%br/
					= link_to 'Preguntas Frecuentes', preguntas_frecuentes_path
					%br/
					/= link_to 'Términos y condiciones', '#'
					= link_to 'Quienes Somos', quienes_somos_path
					%br/
					= link_to 'Contacto', contact_path
				.column.small-8.small-centered.medium-4.medium-uncentered
					%address
						%p Akard Promoción Digital
						= 'Av. General Ramón Corona No. 2514'
						%br/
						= 'Col. Nuevo México'
						%br/
						= 'Zapopan, Jalisco, México'
						%br/
						= 'C.P. 45201'
					%br/
					%p ©2016 Derechos Reservados
				.column.small-8.small-centered.medium-4.medium-uncentered.text-center
					%p Empresa apoyada por:
					= image_tag 'general/tec-incubadora.png', size: '100x100'
					= image_tag 'general/tec-lean-accelerator.png', size: '100x100'
